.services-1 {
    border-radius: 10px;
}

@media (max-width: 767px) {
    svg {
        max-width: 75px;
        padding: 10px 0px 0px 30px ;
    }

}

.skills {
    border-radius: 10px;
}

svg {
    max-width: 120px;
}

.icon-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}